
img{
    width: 100%;
}

.recipes-container{
    display: flex;
    gap: 1rem;
}

#search-input{
    margin-bottom: 1rem;
    width: 400px;
    height: 40px;
}

.categories-section{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}

.categories-section button{
    cursor: pointer;
}

.categories-section button.active{
    background-color: red;
}

main{
    padding-inline: 4rem;
    padding-block: 2rem
}

.categories-section{
    display: flex;
    width: 100;
    flex-wrap: wrap;
}