
img{
    width: 100%;
}

.recipes-container{
    display: flex;
    gap: 1rem;
}

.categories-section{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}

.categories-section button{
    cursor: pointer;
}

.categories-section button.active{
    background-color: red;
}

main{
    padding-inline: 4rem;
    padding-block: 2rem
}

.categories-section{
    display: flex;
    width: 100;
    flex-wrap: wrap;
}

.search-container{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 0.5rem;
}

#search-input{
    width: 400px;
}

.category-link{
    height: 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    cursor: pointer;
}

.category-link-active{
    background-color: green;
}