.recipe-card{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    gap: 1rem;
}

img{
    width: 100%;
}

.recipes-container{
    display: flex;
    gap: 1rem;
}

#search-input{
    margin-bottom: 1rem;
    width: 400px;
    height: 40px;
}

.categories-section{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}

.categories-section button{
    cursor: pointer;
}

.categories-section button.active{
    background-color: red;
}